<h1>Restaurants</h1>

<div class="cards d-flex flex-wrap gap-5">
  <% @restaurants.each do |restaurant| %>
    <div class="card restaurant-card" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title"><%= restaurant.name %></h5>
        <p class="card-text"><%= restaurant.address %></p>
        <p class="card-text">Cuisine: <%= restaurant.category.capitalize %></p>
        <p class="card-text">Contact: <%= restaurant.phone_number %></p>
      </div>
    </div>
  <% end %>
</div>
