<div class="card" style="width: 20rem;">
  <div class="card-header fs-2 fw-bold">
    <%= @restaurant.name %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Address:</strong> <%= @restaurant.address %></li>
    <li class="list-group-item"><strong>Cuisine:</strong> <%= @restaurant.category.capitalize %></li>
    <li class="list-group-item"><strong>Contact:</strong> <%= @restaurant.phone_number %></li>
  </ul>
</div>
